<div class="container bg-light">
    <nav class="navbar navbar-light bg-light">
        <div class="row">
            <div class="col-4 h6 nav-item nav-link" href="#">Academy blog</div>
            <div class="nav-item text col-1">
                <a class="nav-link" href="#">Home </a>
            </div>
            <div class="nav-item text col-1 ">
                <a class="nav-link grey-link" href="#">Academy</a>
            </div>
            <div class="col-2 text-black-50">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle grey-link" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Cat1</a>
                        <a class="dropdown-item" href="#">Cat2</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">FelixTheCat</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>